//@import '../../../App.scss';
.job {
    background: #F9FCFF;

    .container {
        .job-info {
            margin-top: 6rem;
            text-align: center;
            line-height: 2;

            h1 {
                font-size: 30px;
            }

            p {
                text-align: center;
            }
        }

        .card-wrapper {
            margin-top: 3rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 2rem;
            grid-row-gap: 1rem;

            .card {
                transition: all .3s linear;
                border: 1px solid #f1f1f1;
                margin-top: -1px;
                background: #fff;
                padding: 20px;
                overflow: hidden;
                display: flex;
                margin-right: -1px;
                position: relative;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

                .line {
                    border-right: 1px solid green;
                    height: 100%;
                }

                .left {
                    width: 25%;
                    height: 25%;
                    padding: 10px;

                }

                .right {
                    width: 75%;
                    height: auto;
                    text-align: left;
                    margin-left: 3rem !important;
                    display: flex;
                    justify-content: space-between;

                    h1 {
                        margin-top: 1.2rem;
                        color: var(--dark);
                    }

                    a {
                        margin-top: 1rem;
                        text-decoration: none;
                        font-size: 14px;
                        display: inline-block;
                        padding: 5px 15px;
                        border-radius: 50px;
                        cursor: pointer;
                        text-transform: uppercase;
                        background: #D5FFE7;
                        color: var(--green);
                        transition: all .3s ease-in-out;
                        cursor: pointer;
                        font-weight: bolder;
                    }

                    .status-half-time {
                        margin-top: 1rem;
                        text-decoration: none;
                        font-size: 14px;
                        display: inline-block;
                        padding: 5px 15px;
                        border-radius: 50px;
                        cursor: pointer;
                        text-transform: uppercase;
                        background: #FFD8D2;
                        color: #FF7B66;
                        transition: all .3s ease-in-out;
                        cursor: pointer;
                        font-weight: bolder;
                    }

                    .part2 {
                        i {
                            font-size: 2rem;

                        }

                        i:hover {
                            color: crimson;
                        }
                    }

                }
            }

            .card:hover {
                box-shadow: 1px 8px 20px grey;
                transition: box-shadow .6s linear;
                border-left: 1rem var(--green);
                cursor: pointer;
            }
        }
    }
}